.bg-color{
    background-color: #feeae8;
    
}
.bg-watch-color{
   background-color: #ffa500;;
}
.bg-bag-color{
    background-color: #da70d6;
}
.bg-shoes-color{
    background-color: #203ace;
}
.btn-buy-now{
    background-color: #ff4b93;
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    
}
.text-buy-now{
    color: #ff4b93;
}
.section-height{
    height: 300px;